:root{
    --white : #FFFFFF;
    --white-hover : #dbdbdb;
    --black : #121212;
    --text-white : #E0E0E0;
    --text-black : #212121;
    --ambar : #FF6F00;
    --red : #B71C1C;
    --green : #00bb4e;
    --border-radius : 5px;
    --font-lg : 30px;
    --font-md : 20px;
    --font-sm : 18px;
    --gap : 1rem;
    --container-padding : 15px;
    --button-padding : 10px;
    --max-width : 1200px;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--white);
}





#library_container .header{
    margin: 0 auto;
    background-color: var(--black);
    text-align: center;
    
}

#library_container .header .header_container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: var(--container-padding);

}

#library_container .header .header_container .library_name{
    color: var(--text-white);
    font-size: var(--font-lg);
}

#library_container .header .header_container #btn_add_book{
    font-size: var(--font-md);
    padding: var(--button-padding);
    border-radius: var(--border-radius);
    background-color: var(--white);
    color: var(--text-black);
    border: none;
    display: flex;
    gap: var(--gap);
    cursor: pointer;
}

#library_container .header .header_container #btn_add_book:hover{
    background-color: var(--white-hover);
}

/* books section start */

#library_container #book_container{
    min-height: calc(100vh - 60px);
}

#library_container #book_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

#library_container #book_container .book_card{
    height: 300px;
    border-radius: var(--border-radius);
    border: 1px solid #000000;
    padding: 1rem;
    gap: 0.5rem;
    box-shadow: 0 2px 5px rgb(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#library_container #book_container .book_card .card_author, #library_container #book_container .book_card .card_page{
    font-size: var(--font-sm);
}

#library_container #book_container .book_card .card_btn{
    width: 300px;
    padding: 5px;
    color: var(--text-white);
    border: none;
    font-size: var(--font-md);
    margin-bottom: 5px;
    border-radius: var(--border-radius);
    cursor: pointer;
}

#library_container #book_container .book_card .card_btn:hover{
    color: var(--white);
}


/* dialog box section */

#library_container #dialog_box{
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,0.6);
    justify-content: center;
    align-items: center;
}

#library_container #dialog_box .dialog_container{
    background-color: var(--text-white);
    padding: 20px;
    border-radius: var(--border-radius);
    max-width: 400px;
    display: flex;
    flex-direction: column;
}



#library_container #dialog_box .dialog_container .dialog_header{
    text-align: center;
    font-size: var(--font-lg);
}

#library_container #dialog_box .dialog_container label{
    font-size: var(--font-md);
}

#library_container #dialog_box .dialog_container input[type = text], #library_container #dialog_box .dialog_container input[type = number]{
    width: 250px;
    padding: 10px;
    font-size: var(--font-sm);
    margin-bottom: 15px;
    background-color: var(--white);
    border: none;
    border-radius: var(--border-radius);
}

#library_container #dialog_box .dialog_container input[type = checkbox]{
    padding: 10px;
}

#library_container #dialog_box .dialog_container .btn_dialog{
    padding: 5px;
    margin-bottom: 10px;
    color: var(--text-white);
    font-size: var(--font-md);
    border: none;
    border-radius: var(--border-radius);
}

#library_container #dialog_box .dialog_container .btn_dialog:hover{
    color: var(--white);
}

#library_container #dialog_box .dialog_container #btn_dialog_add{
    background-color: var(--green);
}

#library_container #dialog_box .dialog_container #btn_dialog_close{
    background-color: var(--red);
}









/* footer section start */


#library_container #footer{
    height: 60px;
    background-color: var(--black);
    color: var(--text-white);
    display: flex;
    align-items: center;
    justify-content: center;
}

#library_container #footer i{
    color: var(--text-white);
    margin-left: 10px;
}

